.container{
  width: 90%;
  height: calc(100vh - 40px);
  background: rgba(0,0,0,0);
  margin: 0 auto;
}
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}
html{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}
.marginTop10{
  margin-top: 10px;
}
.marginLeft6{
  margin-left: 6px;
}
.border-less{
  border: none;
  outline: none;
}